{% extends 'music/_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <h3 class="text-primary" style="font-family: cursive;"><b>Sign Up</b></h3>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <div class="form-group">
                            <button type="submit" class="btn btn-info" style="width: 100%;"><b>Submit</b></button>
                        </div>
                    </form>

                    <div>
                        <h4 style="font-family: cursive;">Already Registered? <a href="{% url 'music:login' %}">Login</a> </h4>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-info panel-body" style="height: 68%;">
            <img src="{% static 'music/images/logo.jpg' %}" class="img img-rounded" alt="" style="width: 100%; height: 100%;">

        </div>
        </div>
    </div>
</div>
{% endblock %}