{% extends 'music/base.html' %}
{% block title %}{{ album.album_name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- Album Information -->
        <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body" style="background-color: gainsboro;">
                <img src="{{ album.album_cover.url }}" class="img img-responsive img-circle" alt="" style="height: 270px; width: 95%;">
                <div class="caption">
                    <h5 style="font-family: AquaBase; color: #000;"><i class="fas fa-microphone"></i>&nbsp;{{ album.album_name }}<small style="float: right; color: cadetblue; font-size: 14px;"><i class="fas fa-user-circle"></i>&nbsp;{{ album.artist_name }}</small></h5>
                    <h5 style="font-family: Garuda; color: teal;"><i class="fas fa-headphones"></i>&nbsp;{{ album.album_genre }}</h5>
                </div>
            </div>
        </div>
        </div>


        <!-- Song information -->
        <div class="col-sm-9">
        <ul class="nav nav-pills">
            <li class="active"><a href=""> Songs</a></li>
            <li class="text-capitalize"><a href="{% url 'music:create-song' album.id %}"><b>add song</b></a> </li>
        </ul>
        <div class="panel panel-info" style="margin: 2px; background-color: gainsboro;">
            <div class="panel-body">
                <h4 class="text-info text-capitalize"><b>{{ album.song_set.count }}&nbsp;songs</b> </h4>

            {% if message %}
                <div class="alert alert-danger">
                     <h4 class="text-danger text-center">{{ message }}</h4>
                </div>
            {% endif %}

                <hr>

                <table class="table">
                    <thead>
                    <th>Song Name</th>
                    <th>Audio</th>
                    <th>Favourite</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    {% if album.song_set %}
                        {% for song in album.song_set.all %}
                       <tr>
                       <td>{{ song.song_name }}</td>
                       <td><a href="{{ song.song_audio.url }}"
                              class="btn btn-success btn-sm" target="_blank"><i class="fas fa-play"></i> </a> </td>
                       <td><a href="" class="btn btn-secondary btn-sm"><i class="fas fa-star"></i> </a> </td>
                       <td><a href="{% url 'music:song-update' song.id %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i> </a>
                       <a href="{% url 'music:song-delete' album.id song.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> </a>
                       </td>
                       </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
        </div>

    </div>
</div>
{% endblock %}